body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 0.1cm;
    border-color: #100707;
}

th{
    background-color: brown;
    color: aliceblue;
}

td {
    padding: 8px;
    text-align: left;
}

tr.header {
    background-color: #180b0b;
}

